  <tr>
    <td>
      <%= image_tag product.image.tiny.url %>
    </td>
    <td colspan="2">
      <h6><%= product_name %></h6>
    </td>
    <td>
      <h6><%= unit_price %></h6>
    </td>
    <td>
      <h6><%= quantity %></h6>
    </td>
    <td>
      <h6><%= price %></h6>
    </td>
  </tr>